@media (max-width: 615px) {

    /* NAVIGATION */
    .navigation-wrapper {
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }

    .navigation-wrapper > .left-column {
        order: 2;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        margin: 0 0 20px 0;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navigation-wrapper .links-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .navigation-wrapper .links-wrapper > .nav-link {
        margin: 8px 0;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }


    /* HERO SECTION */
    .hero-section {
        padding: 50px 20px;
        height: 300px;
        background-attachment: scroll; /* disable fixed on mobile */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section > .top-heading {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }

    .hero-section > .bottom-heading {
        width: 100%;
        max-width: 220px;
        text-align: center;
    }


    /* FEATURES SECTION */
    .features-section {
        height: auto;
        padding: 30px 0;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .features-section > .columns-wrapper > .column {
        margin: 15px 0;
        width: 100%;
        max-width: 320px;
    }

    .footer {
        height: 100%;
    }

    .footer .links-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;}

    .footer .links-wrapper > .nav-link {
    margin: 10px 0;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }
    .skewed-header > .header-bg {
        background-size: 550px;
    }
    .skewed-header .links-wrapper {
    flex-direction: column;
    align-items: center;
    }

    .skewed-header .links-wrapper > .nav-link {
    margin: 10px 0;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #chef {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }

    .page-container .content-wrapper {
    max-width: 520px;
    margin: 0 auto;
    }

    .page-container p {
    line-height: 1.6;
    font-size: 1.05em;
    }

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }
    .square > .img-wrapper {
        order: 2;
    }  
    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .form input {
        padding: 1.5rem 0rem;
    }
    .form textarea {
        padding: 1.5rem 0rem;
    }
}